.heroSection {
    display: flex;
    gap: 20%;
    justify-content: space-between;
    padding: 40px 6.5%;
    text-align: start;
}
.heroText {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    line-height: 85px;
    margin-bottom: 50px;
}
.heroText span {
    color: #00A205;
}
.input {
    width: 332px;
    height: 64px;
    border-radius: 50px;
    border: none;
    background-color: #eee;
    padding: 2% 10% ;
}
.input::placeholder {
    font-size: 18px;
    color: #555;
}
